* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.main {
  background-color: black;
  height: 100%;
  display: flex;
  flex-direction: column;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:rgb(226, 152, 165);
  padding: 1rem;
}
.logo{
  font-weight: 800;
  font-size: 20px;
}

.VideoWrapper {
  flex: 1;
  position: relative;
  
  
  
}

video{
    width: 100%;
    height: 100%;
    transform: scaleX(-1);
    object-fit: cover;
}
#landmark , #drawing{
    position: absolute;
    top: 0;
    left: 0;
      transform: scaleX(-1);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 49, 0.407);
}
